<?xml version='1.0' encoding='utf-8'?>
<widget id="com.exphat.imessage" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iMessage</name>
    <description>
        An iMessage client for Android.
    </description>
    <author email="me@exphat.com" href="https://exphat.com">
        Aaron Taylor
    </author>
    <content src="index.html" />
    <icon src="res/icon-android.png" platform="android"/> 
    <icon src="res/icon-ios.png" platform="ios"/>
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <plugins>
    	<plugin name="SQLitePlugin" value="SQLitePlugin" />
    </plugins>
</widget>
